.square {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 250px auto 0;
}